html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#theme-toggle {
    margin-bottom: 10px; /* Ajusta la separación del pie de página */
    position: absolute;
    right: 10px; /* Ajusta la posición a la derecha */
    bottom: 10px; /* Ajusta la posición abajo */
}